body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f8fc; /* 页面背景色 */
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #0093fa; /* 标题颜色 */
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.section {
  margin: 20px 0;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
}

.primary-button {
  background-color: #0093fa;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.primary-button:hover {
  background-color: #007acc; /* 按钮 hover 状态颜色 */
}

.primary-button:active {
  background-color: #005f99; /* 按钮点击状态颜色 */
}

p {
  margin: 5px 0;
  color: #555;
}
